                    /* Search part css */
#search{
    height:22px;
    width: 400px;
    margin-top: 20px;
    border-radius: 5px;
    padding-left: 20px;
    border:1px solid gray;
}

                   /* Filter part */

#filterContain{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap:30px;
}
#filterContain>select{
    height:30px;
    width: 250px;
}

                /* Main grid part  */

#parent{
    display: grid;
    grid-template-columns: repeat(3,420px);
    grid-template-rows: repeat(8,370px);
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}
#unit{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    line-height: 10px;
}
#unit>img{
    height: 55%;
    width: 100%;
    object-fit: cover;
}
              /* upper part of each div in grid */

#upper{
    display: flex;
}
#upper>div{
    border: 1px solid rgb(174, 174, 177);
    margin-left: 160px;
    height:40px;
    width:40px;
    border-radius: 50%;
    position: relative;
    margin-top: 10px;
}
#favBtn{
    color: rgb(174, 174, 177);
    margin-top: 0px;
    font-size: 25px;
    position: absolute;
    margin-left: -12.5px;
    margin-top: 8px;
    cursor: pointer;
 }
 #favBtn:hover{
   color: red;
 }

p{
    color: gray;
}
#price{
    text-align: left;
    margin-left: 30px;
    margin-top: 20px;
}
#price>span{
    color: rgb(137, 80, 137);
    font-weight: bold;
    font-size: 25px;
}

                  /* Middle part of each div */

#middle{
  margin-top: -10px;
}
#middle>h2,p{
    text-align: left;
    margin-left: 30px;
}
hr{
    width: 95%;
}

                  /* bottom part of each div */

#bottom{
    display: flex;
    justify-content: space-around;
    margin-top: -10px;
}
